.custom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 3%;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-div>form {
    width: 100%;
}

.custom-button {
    text-align: center;
}

.custom-link {
    color: #ffffff;
    /* White text */
    font-size: larger;
    text-decoration: none;
    margin: 10px 10px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.custom-link:hover{
    color: white;
}
.nav-item {
    margin-bottom: 5px;
}

.vh-90 {
    height: 90vh;
}
#alerttxt{
    margin-bottom: 0px;
}
@media only screen and (max-width: 491px) {

    #alerttxt{
        font-size: 12px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 391px) {

    #alerttxt{
        font-size: 10px;
    }
    #close-btn{
        padding:8% 6%;
        font-size:12px ;
    }
}
@media only screen and (max-width: 343px){
    #close-btn{
        padding-left:0px
    }
}